<div>
    <h2 translate="jhipsterApp.cervesa.home.title">Cervesas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cervesa.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="jhipsterApp.cervesa.home.createLabel">
                        Create new Cervesa
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cervesaName"><span translate="jhipsterApp.cervesa.cervesaName">CervesaName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo"><span translate="jhipsterApp.cervesa.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fabricante"><span translate="jhipsterApp.cervesa.fabricante">Fabricante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pais"><span translate="jhipsterApp.cervesa.pais">Pais</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="graduacion"><span translate="jhipsterApp.cervesa.graduacion">Graduacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span translate="jhipsterApp.cervesa.foto">Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="cervesa in vm.cervesas track by cervesa.id">
                    <td><a ui-sref="cervesa-detail({id:cervesa.id})">{{cervesa.id}}</a></td>
                    <td>{{cervesa.cervesaName}}</td>
                    <td>{{cervesa.tipo}}</td>
                    <td>{{cervesa.fabricante}}</td>
                    <td>{{cervesa.pais}}</td>
                    <td>{{cervesa.graduacion}}</td>
                    <td><a ng-click="vm.openFile(cervesa.fotoContentType, cervesa.foto)" ng-if="cervesa.foto" target="_blank">open</a>
                        {{cervesa.fotoContentType}}, {{byteSize(cervesa.foto)}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cervesa-detail({id:cervesa.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cervesa.edit({id:cervesa.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cervesa.delete({id:cervesa.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
