
<div class="perfil">
    <div class="imagemPerfil"><img data-ng-src="{{'data:image/*;base64,' + vm.cervesa.foto}}" style="max-height: 100%;" ng-if="vm.cervesa.foto"/>
        {{byteSize(vm.cervesa.foto)}}</a></div>

    <hr>
    <dl class="dl-horizontal">
        <hr>
        <dt><span>Cervesa</dt></dt>
        <dd>
            <span>{{vm.cervesa.cervesaName}}<span>
        </dd>
        <hr>
        <dt><span translate="jhipsterApp.cervesa.tipo">Tipo</dt></dt>
        <dd>
            <span>{{vm.cervesa.tipo}}<span>
        </dd>
        <hr>
        <dt><span translate="jhipsterApp.cervesa.fabricante">Fabricante</dt></dt>
        <dd>
            <span>{{vm.cervesa.fabricante}}<span>
        </dd>
        <hr>
        <dt><span translate="jhipsterApp.cervesa.pais">Pais</dt></dt>
        <dd>
            <span>{{vm.cervesa.pais}}<span>
        </dd>
        <hr>
        <dt><span translate="jhipsterApp.cervesa.graduacion">Graduacion</dt></dt>
        <dd>
            <span>{{vm.cervesa.graduacion}}<span>
        </dd>

        <hr>
    </dl>
    <ng-map default-style="true" zoom="13" center="[41.3857205, 2.1672644999999875]">
        <marker id="{{shop.id}}" position="[{{shop.latitud}},{{shop.longitud}}]"
            ng-repeat="shop in vm.cervezaUbication" on-click="vm.showDetail(shop)"></marker>
        <!-- <marker  on-click="vm.showCustomMarker(p)"
                position="[{{p.latitud}},{{p.longitud}}]"></marker>-->

            <info-window id="yoyo" on-mouseover="vm.mouseover()">
                <div ng-non-bindable="">
                    <!--id: {{vm.shop.id}}<br/>-->
                    Nombre: {{vm.shop.ubiName}}<br/>
                    Direccion: {{vm.shop.direccion}}<br/>
                </div>
            </info-window>

        <!-- En content/carousel.css se especifica el estilo del custom marker -->
        <!--<custom-marker id="foo" position="[{{p.latitud}},{{p.longitud}}]" on-click="vm.closeCustomMarker()">-->


            <!-- Para solucionar el problema de que automaticamente se muestra la informacion si
            existe vm.uName creado en el controlador elimino el div por defecto para mostrar informacion -->

            <!--<div>
            Nombre:
            <div ng-if="vm.uName">{{vm.uName}}</div>
            <div ng-hide="vm.uName">{{p.ubiName}}</div>
            </div></br>

            <div>
            Dirección:
            <div ng-if="vm.uName">{{vm.uDirec}}</div>
            <div ng-hide="vm.uName">{{p.direccion}}</div>
            </div>-->

           <!-- <div ng-hide="vm.uName">
            Nombre: {{p.ubiName}}</br>
            Dirección: {{p.direccion}}</br>
            </div>-->



        <!--</custom-marker>-->

    </ng-map>
    <div ng-repeat="prec in vm.cervezaPrecioMedio" ng-if="prec">El precio medio de la cerveza es : {{prec}}</div>
    <!--<div>{{vm.cervezaPrecioMedio}}</div>-->
<table>
    <tr ng-repeat="coment in vm.cervezaComentarios">
        <td>{{coment.user.id}}</td>
        <td>{{coment.comentario}}</td>
    </tr>
</table>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <!-- Añadir un comentario a la cerveza seleccionada , idUser:vm.user.id -->
    <button class="btn btn-primary" ui-sref="nuevocomentario({idCerveza:vm.cervesa.id})" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="jhipsterApp.comentario.home.createLabel">
                        Nuevo Comentario
                    </span>
    </button>
    <!-- Añadir un precio a la cerveza seleccionada -->
    <button class="btn btn-primary" ui-sref="nuevoprecio({idCerveza:vm.cervesa.id})" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="jhipsterApp.precio.home.createLabel">
                        Create new Precio
                    </span>
    </button>
    <!-- Añadir una ubicacion a la cerveza seleccionada -->
    <button class="btn btn-primary" ui-sref="nuevaubicacion({idCerveza:vm.cervesa.id})" >
        <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="jhipsterApp.ubicacion.home.createLabel">
                        Create new Ubicacion
                    </span>
    </button>
</div>
