
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrecioLabel" translate="jhipsterApp.precio.home.createOrEditLabel">Create or edit a Precio</h4>
    </div>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="form-group ng-hide">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.precio.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.precio.precio" for="field_precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="field_precio"
                    ng-model="vm.precio.precio"
                     />
        </div>

        <div class="form-group">
            <label translate="jhipsterApp.precio.ubicacion" for="field_ubicacion">ubicacion</label>
            <select class="form-control" id="field_ubicacion" name="ubicacion" ng-model="vm.precio.ubicacion" ng-options="ubicacion as ubicacion.id for ubicacion in vm.ubicacions track by ubicacion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group ng-hide">
            <label translate="jhipsterApp.precio.cervesa" for="field_cervesa">cervesa</label>
           <!--<select class="form-control" id="field_cervesa" name="cervesa" ng-model="vm.precio.cervesa" ng-options="cervesa as cervesa.id for cervesa in vm.cervesas track by cervesa.id">
                <option value="vm.cervesa.id"></option>
            </select>-->
          <input type="text" class="form-control" name="cervesa" id="field_cervesa"
                   ng-model="vm.precio.cervesa" value="cervesa as vm.cervesa.id for cervesa in vm.cervesas"/>
           <!-- <select class="form-control" id="field_cervesa" name="cervesa" ng-model="vm.precio.cervesa" ng-options="cervesa as cervesa.id for cervesa in vm.cervesas track by cervesa.id">
                <option value=""></option>
            </select>-->
        </div>
        <div class="form-group">
            <label translate="jhipsterApp.precio.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.precio.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
