
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUbicacionLabel" translate="jhipsterApp.ubicacion.home.createOrEditLabel">Create or edit a Ubicacion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group ng-hide">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.ubicacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.ubicacion.ubiName" for="field_ubiName">UbiName</label>
            <input type="text" class="form-control" name="ubiName" id="field_ubiName"
                   ng-model="vm.ubicacion.ubiName"
            />
        </div>
<!--
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.ubicacion.longitud" for="field_longitud">Longitud</label>
            <input type="number" class="form-control" name="longitud" id="field_longitud"
                   ng-model="vm.ubicacion.longitud"
            />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterApp.ubicacion.latitud" for="field_latitud">Latitud</label>
            <input type="number" class="form-control" name="latitud" id="field_latitud"
                   ng-model="vm.ubicacion.latitud"
            />
        </div>-->

        <!--<div class="form-group">
            <label class="control-label" translate="jhipsterApp.ubicacion.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                   ng-model="vm.ubicacion.direccion" value="{{vm.address}}"
            />
        </div>
-->
        <div class="form-group">
            <label translate="jhipsterApp.ubicacion.cervesa" for="field_cervesa">cervesa</label>
            <select class="form-control" id="field_cervesa" multiple name="cervesa" ng-model="vm.ubicacion.cervesas" ng-options="cervesa as cervesa.cervesaName for cervesa in vm.cervesas track by cervesa.id"></select>
        </div>
        <!--  mapa -->

        Auto Complete Type:
        <select ng-model="vm.types">
            <option value="['geocode']">Geodode</option>
            <option value="['establishment']">Establishment</option>
            <option value="['address']">Address</option>
        </select><br/>
        Enter an address: <br/>
        <input places-auto-complete size=80
               ng-model="vm.ubicacion.direccion"
               types="{{types}}"

               class="form-control" name="direccion"

               on-place-changed="vm.placeChanged()" /> <br/>
        <div ng-show="vm.place" class="allMapa">
            Address = {{vm.place.formatted_address}} <br/>
            Location: {{vm.place.geometry.location}}<br/>
            <!--1: {{vm.ubicacion.latitud}}<br/>
            2: {{vm.ubicacion.longitud}}<br/>-->
        </div>
        address : {{vm.ubicacion.direccion}}
        <ng-map>
            <marker position="{{vm.ubicacion.direccion}}"></marker>
        </ng-map>
        </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<!-- ES NECESARIO EL Z-INDEX PARA QUE SE MUESTRE POR ENCIMA EL DROPDOWN:
 pac-container is the class used to create the element for the dropdown when using Google Maps Autocomplete control.
  Since it is generated dynamically via the autocomplete element you setup, you don't specify it anywhere.  -->
<style>
    .pac-container{
        z-index: 2000000;
    }
</style>
