Cervezas:
<input type="text" ng-model="buCervesas" ng-change="getBuCervesas()"/>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>

        <tr>
            <td>Foto</td>
            <td ng-click="filtrarPor('+vm.cervesaName')">Nombre</td>
            <td ng-click="filtrarPor('+vm.tipo')">Tipo</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in vm.cervesas | filter: buCervesas | orderBy:filtracion">
            <td><img data-ng-src="{{'data:image/*;base64,' + c.foto}}" style="max-height: 30px;" ng-if="c.foto"/>
                {{byteSize(c.foto)}}</td>
            <td>{{c.cervesaName}}</td>
            <td>{{c.tipo}}</td>
        </tr>
        </tbody>
    </table>
</div>
