Cervezas:
<input type="text" ng-model="buCervesas" ng-change="getBuCervesas()"/>

<div class="table-users">
    <table cellspacing="0" class="table table-striped">
        <thead>

        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
            <td><span translate="jhipsterApp.cervesa.foto">Foto</span><span class="glyphicon glyphicon-sort"></span></td>
            <td jh-sort-by="cervesaName"><span translate="jhipsterApp.cervesa.cervesaName">Nombre</span><span class="glyphicon glyphicon-sort"></span></td>
            <td jh-sort-by="tipo"><span translate="jhipsterApp.cervesa.tipo">Tipo</span><span class="glyphicon glyphicon-sort"></span></td>

        </tr>
        </thead>
        <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
        <tr ng-repeat="c in vm.cervesas | filter: buCervesas | orderBy:filtracion">
            <td><a ui-sref="cervesa-detail({id:cervesa.id})"><img data-ng-src="{{'data:image/*;base64,' + c.foto}}" style="max-height: 30px;" ng-if="c.foto"/>
                {{byteSize(c.foto)}}</a></td>
            <td><a ui-sref="cervesa-detail({id:cervesa.id})">{{c.cervesaName}}</a></td>
            <td>{{c.tipo}}</td>
        </tr>
        </tbody>
    </table>
</div>
