/* HEADER */

.navbar{
    margin-bottom: 0;
}
/* si hubiese dos jumbotrones en la misma pagina se tendria que usar .jumbotron .jumbotron-dsadkljdjhas y en el html poner 2 clases*/
.jumbotron{
    background:#f0dd0a;
    /*color:#fff;  blanco */
    color:black;
    padding:20px 0;
}

/*  para cambiar el titulo del jumbotron .jumbotron .titulo-blog */
.tituloSubapartado{
    /*font-size: 80px;*/
    text-align: center;
}

/*.navbar-brand .imagenBrand{
    width: 20%;
    height: 20%;
    padding: 50px 0;
    max-width: 100%;
    height: auto;
    display: block;
}*/

/* CENTRAR EL ICONO DE BIRRING NAV http://codepen.io/bootstrapped/pen/KwYGwq*/
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  width: auto;
}
/*body .container{
    width: 70%;
}*/

/*PERFIL*/

.imagemPerfil img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.icono {
    display: inline-block;
float:left;
    height: auto;
height:50px;
    width: 50px;
}

.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}

/*search form*/
.form-wrapper {
    width: 50%;
    padding: 8px;
    margin: 100px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.form-wrapper #search {
    width: 98%;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    border-radius: 3px;
}

.form-wrapper #search:focus {
    outline: 0;
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset;
}

.form-wrapper #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #submit {
    float: right;
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;
    background-color: #0483a0;
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
    background-color: #31b2c3;
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
    outline: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

#buscaD{
    display: inline-block;

    position:relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;

}
.busq{
    text-align: center;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
